azure-functions
openai
psycopg2-binary
langchain-community
langchain-openai
langchain
langchain-core
chromadb-client
azure-storage-blob
azure-identity
azure-keyvault-secrets
pypdf
chromadb==0.5.0
langchain-chroma==0.1.2
